body{
    background-color: rgb(236, 236, 249);
}

#log_name{
    color: blue;
    font-size: 55px;
}

.main{
    margin-top: 10%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.page{
    margin-left: 80px;
}

.logo{
    width: 500px;
    font-size: 25px;
}

.log_pag{
    background-color: white;
    display: inline-block;
    /* margin-left: 85px; */
    height: 340px;
    width: 360px;
    /* border: solid black 2px; */
    border-radius: 5px;
    box-shadow: 0 0 5px 0px;
}

#mail,#pass,#log,.for{
    height: 45px;
    width: 340px;
    margin-left: 9px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border: solid black 1px; */
}

#phone,#word,#login{
    margin-top: 2px;
    padding-left: 8px;
    width: 330px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 5px;
    box-sizing: border-box;
    transition: .2s;
}

#login{
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: rgb(42, 120, 222);
}

#phone:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 13px 0 dodgerblue;
}

#word:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 13px 0 dodgerblue;
}

.for{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.ln{
    width: 325px;
    margin-left: 17px;
    border-top: 1px solid black;
}

#but{
    background-color: rgb(53, 226, 53);
    margin:10px 0 0 73px;
    height: 43px;
    width: 200px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 5px;
}

.text{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #pass{
    height: 35px;
    width: 300px;
    margin-top: 20px;
    border: solid black 1px;
} */
